doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Geo Loc
    // Bootstrap Core CSS
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/sb-admin.css', rel='stylesheet')
    // Custom Fonts
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='/stylesheets/perso-navbar.css', rel='stylesheet')
  body
    #wrapper
      // Navigation
      nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.html')
            span
              img.img-circle.special-img(src='/images/logo-geo.png', style='width:25px;')
              |    Geop
        ul.nav.navbar-right.top-nav
        // Top Menu Items
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.navbar-perso.nav.navbar-nav.side-nav
            li
              a(href='javascript:;', data-toggle='collapse', data-target='#userplus', style='padding-bottom: 10px;height:50px;')
                div(style='float: left;margin-top:-5px;')
                  img.img-circle.special-img(src='/images/user.png')
                div(style='float: right;')
                  | #{username}
                  i.fa.fa-fw.fa-caret-down
              ul#userplus.collapse
                li
                  a(href='#')
                    i.fa.fa-cog
                    |  Account
                li
                  a(href='/login/getout')
                    i.fa.fa-sign-out
                    |  Sign-out
            li.active
              a(href='index.html')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h1.page-header
                | Dashboard
                small Geoloc
              .col-lg-6
                .panel.panel-success
                  .panel-heading
                    h3.panel-title Map
                  .panel-body
                    #map(style='vertival-align:top;width: 100%;height:420px;display:inline-block;')
              .col-lg-6
                .panel.panel-warning
                  .panel-heading
                    h3.panel-title History
                  .panel-body
                    ul.nav.nav-tabs
                      li.active
                        a(data-toggle='tab', href='#steps') Steps
                      li
                        a(data-toggle='tab', href='#speed') Speed
                    .tab-content
                      #steps.tab-pane.fade.in.active
                        h3 Nomber of steps
                        p
                          div(style='width:100%;')
                            canvas#stepschart
                      #speed.tab-pane.fade
                        h3 Speed history
                        p
                          div(style='width:100%;')
                            canvas#speedchart
              .col-lg-12
                .panel.panel-primary
                  .panel-heading
                    h3.panel-title
                      i.fa.fa-bar-chart-o
                      |  Friend zone
                  .panel-body
                    .table-responsive
                      table.table.table-hover.table-striped
                        thead
                          tr
                            th Name
                            th Last location
                            th Last number of steps
                            th Last speed
                        tbody
                          tr
                            td /index.html
                            td 1265
                            td 32.3%
                            td $321.33
                          tr
                            td /about.html
                            td 261
                            td 33.3%
                            td $234.12
                          tr
                            td /sales.html
                            td 665
                            td 21.3%
                            td $16.34
                          tr
                            td /blog.html
                            td 9516
                            td 89.3%
                            td $1644.43
                          tr
                            td /404.html
                            td 23
                            td 34.3%
                            td $23.52
                          tr
                            td /services.html
                            td 421
                            td 60.3%
                            td $724.32
                          tr
                            td /blog/post.html
                            td 1233
                            td 93.2%
                            td $126.34
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='/javascripts/jquery.js')
    // Bootstrap Core JavaScript
    script(src='/javascripts/bootstrap.min.js')
    // CharJS librairie
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js', integrity='sha256-thgNwq1kqppxWOZpF2V/KfgGpLeBWbLMg704XfwYUDQ=', crossorigin='anonymous')
    script(src='//maps.googleapis.com/maps/api/js?key=AIzaSyBMRAqbQDzkJxe9QAEA9KRiIEiCnoIZtkY')
    script(src='/javascripts/main.js')
