.navbar-default {
  background-color: #ce6f2d;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #896465;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #ce6f2d;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #896465;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #896465;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #896465;
    background-color: #ffffff !important;
  }
}




.navbar-perso {
  background-color: #ce6f2d;
  border-color: #ffffff;
}
.navbar-perso .navbar-brand {
  color: #ecf0f1;
}
.navbar-perso .navbar-brand:hover,
.navbar-perso .navbar-brand:focus {
  color: #896465;
}
.navbar-perso .navbar-text {
  color: #ecf0f1;
}
.navbar-perso .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-perso .navbar-nav > li > a:hover,
.navbar-perso .navbar-nav > li > a:focus {
  color: #896465;
}
.navbar-perso .navbar-nav > li > .dropdown-menu {
  background-color: #ce6f2d;
}
.navbar-perso .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-perso .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-perso .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-perso .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #ffffff;
}
.navbar-perso .navbar-nav .open .dropdown-menu > .active > a,
.navbar-perso .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-perso .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-perso .navbar-nav > .active > a,
.navbar-perso .navbar-nav > .active > a:hover,
.navbar-perso .navbar-nav > .active > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-perso .navbar-nav > .open > a,
.navbar-perso .navbar-nav > .open > a:hover,
.navbar-perso .navbar-nav > .open > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}
.navbar-perso .navbar-toggle {
  border-color: #ffffff;
}
.navbar-perso .navbar-toggle:hover,
.navbar-perso .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-perso .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-perso .navbar-collapse,
.navbar-perso .navbar-form {
  border-color: #ecf0f1;
}
.navbar-perso .navbar-link {
  color: #ecf0f1;
}
.navbar-perso .navbar-link:hover {
  color: #896465;
}




@media (max-width: 767px) {
  .navbar-perso .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-perso .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-perso .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #896465;
    background-color: #ffffff !important;
  }
  .navbar-perso .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-perso .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-perso .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #896465;
    background-color: #ffffff !important;
  }
  #page-wrapper{
    margin-top: -50px;
  }
}




.navbar-perso .navbar-nav > li > .collapse {
  background-color: #ce6f2d ;
}
.navbar-perso .navbar-nav > li > .collapse > li > a {
  color: #ecf0f1;
}
.navbar-perso > li > ul > li > a {
  color: #ecf0f1;
}
.navbar-perso > li > ul > li > a:hover,
.navbar-perso > li > ul > li > a:focus {
  color: #896465;
  background-color: #e5dee0 !important;
}
.navbar-perso .navbar-nav > li > .collapse > li > a:hover,
.navbar-perso .navbar-nav > li > .collapse > li > a:focus {
  color: #896465;
  background-color: #e5dee0 !important;
}
.navbar-perso .navbar-nav > li > .collapse > li > .divider {
  background-color: #ffffff;
}
.navbar-perso .navbar-nav .open .collapse > .active > a,
.navbar-perso .navbar-nav .open .collapse > .active > a:hover,
.navbar-perso .navbar-nav .open .collapse > .active > a:focus {
  color: #896465;
  background-color: #ffffff !important;
}


#map_wrapper {
    vertival-align:top;
    width: 100%;
    height:420px;
    display:inline-block;
}

#map_canvas {
    width: 100%;
    height: 100%;
}
